# General output
data/output/

# Python cache
__pycache__/
*.pyc
*.pyo

# Type checker / tooling
.mypy_cache/
.pytest_cache/

# Virtual environments
venv/
.venv/
.vscode/

# Compiled files
*.o

# Ignore Word documents (.doc and .docx)
*.doc
*.docx

# Ignore specific folders (e.g., moulinette grading directory)
moulinette/

# Build artifacts
dist/
build/
*.egg-info/

# Coverage
.coverage