# General output
data/output/

# Python cache
__pycache__/
*.pyc
*.pyo

# Type checker / tooling
.mypy_cache/
.pytest_cache/

# Virtual environments
venv/
.venv/
.vscode/

# Compiled files
*.o
