# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CPython cache
.pytest_cache/
.mypy_cache/
.python-version

# Distribution / packaging
dist/
.llm_sdk
prokect.toml
uv.lock

# Virtual environments
venv/
venv-fly_in/
venv_fly_in/
.venv/
.vscode/


